<!DOCTYPE html>
<html lang="en">
{% include 'base.html' %}

<head>
    <title>Your Lists</title>
</head>
<body>
    <h1 class="text-3xl font-bold mb-6 text-center text-gray-800">Your Lists</h1>
    {% if lists %}
        <ul class="space-y-4">
        {% for list in lists %}
            <li class="bg-blue-200 shadow-sm rounded-lg p-4 hover:bg-blue-100 transition duration-300 cursor-pointer" onclick="window.location.href='/list/{{ list.id }}'">
                <div class="flex justify-between items-center">
                    <h2 class="text-lg font-semibold text-gray-800">{{ list.name }}</h2>
                    <span class="text-sm text-gray-500 bg-blue-100 px-2 py-1 rounded-full mt-1">{{ list.papers|length }} papers</span>
                </div>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p class="text-center text-gray-600 text-lg">You don't have any lists yet.</p>
    {% endif %}
    
    <div class="fixed right-5 bottom-5 text-5xl cursor-pointer" onclick="showCreateListForm()">+</div>
    <form class="hidden fixed right-5 bottom-20 bg-white p-3 border border-gray-300 rounded" id="createListForm" action="/create_list" method="POST">
        <input type="text" id="listName" name="list_name" placeholder="Enter list name" class="border border-gray-300 rounded px-2 py-1 mr-2">
        <button type="submit" class="bg-blue-500 text-white px-3 py-1 rounded hover:bg-blue-600 transition duration-300">Create List</button>
    </form>

    <script>
        function showCreateListForm() {
            document.getElementById('createListForm').classList.remove('hidden');
        }

        document.getElementById('listName').addEventListener('keypress', function(event) {
            if (event.key === 'Enter') {
                event.preventDefault();
                document.getElementById('createListForm').submit();
            }
        });
    </script>
</body>
</html>
